/* This is an import of the download styling used by neon.kde.org which is
   somewhat "breezy" and sticks out well in the otherwise blueish website. */

.downloadButton a:visited {
    color: #fafafa;
}

.downloadButton a {
    display: block;
    margin: 10px auto;
    padding: 4px 8px 6px;
    border: solid 1px rgba(0,0,0,.1);
    color: #fafafa !important;
    background-color: #27AE60;
    line-height: 100%;
    border-radius: 3px;
    text-decoration: none;
    color: #2980b9;
    outline: none;
    text-shadow: none;
}
